<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.scut.acoustics">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActivity" />

        <activity
            android:name=".ui.experiment.ExperimentActivity"
            android:label="@string/experiment"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.noise_measurement.NoiseMeasurementActivity"
            android:label="@string/noise_measurement"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.noise.NoiseActivity"
            android:label="@string/noise_measurement"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.adjust.AdjustActivity"
            android:label="@string/adjust"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.ear_test.EarTestActivity"
            android:label="@string/ear_test"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity" />

    </application>

</manifest>